@inset-spacing: 4px;
@inset-squish-spacing: 4px 8px;

.docs-table {
  padding: @inset-spacing;

  header {
    .title {
      font-size: 24px;
    }

    .description {
      font-size: 18px;
      margin-top: 16px;
    }
  }

  .props {
    margin-top: 20px;

    .prop-header {
      padding: @inset-squish-spacing;
      font-weight: bold;
      border-bottom: 1px solid darken(#0C293E, .8);

    }

    .prop {
      td {
        padding: @inset-squish-spacing;
      }

      .name {
        font-weight: 800;
      }
    }
  }
}
