.header {
  .content {
    &.hidden {
      height: 0;
      overflow: hidden;
    }
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0;
    padding: 0;

    background: darken(#0C293E, .2);

    svg {
      width: 20px;
      height: 20px;
      color: white;
    }
  }
}
