{
  "extends": "../.babelrc",

  "env": {
    "unit": {
      "plugins": ["istanbul", "rewire"]
    },

    //Used by our integration
    "acceptance": {
      "plugins": [
        "istanbul"
      ]
    },
    //Needed to instrument the cosmos playground for our acceptance tests
    "development": {
      "plugins": ["istanbul"]
    }
  }
}
