{
  "extends": "../.babelrc",

  "env": {
    "unit": {
      "plugins": ["istanbul", "rewire"]
    },

    //Needed to instrument the cosmos playground for our acceptance tests
    "development": {
      "plugins": ["istanbul"]
    }
  }
}
