{
  "extends": "../.babelrc",

  "env": {
    "unit": {
      "plugins": [
        "../babel/babel-plugin-remove-asset-imports",
        "istanbul"
      ]
    },

    "acceptance": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
